<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939590220506-m4vdegiupql0go45skopd3sts9jc66is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939590220506-m4vdegiupql0go45skopd3sts9jc66is</string>
	<key>API_KEY</key>
	<string>AIzaSyAx02aAQGtqzSQNJKwD8z_ja3eSMAeiKGg</string>
	<key>GCM_SENDER_ID</key>
	<string>939590220506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burcumirza.Image-Uploader</string>
	<key>PROJECT_ID</key>
	<string>image-uploader-63693</string>
	<key>STORAGE_BUCKET</key>
	<string>image-uploader-63693.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939590220506:ios:b5de32b32ec8e984</string>
	<key>DATABASE_URL</key>
	<string>https://image-uploader-63693.firebaseio.com</string>
</dict>
</plist>